$color-black: #000;
$color-white: #fff;
$color-white-dark: rgb(235, 235, 235);
$color-gray-dark: rgb(107, 107, 107);
$color-gray: #777;
$color-red: rgb(255, 59, 59);
$color-sky-dark: rgb(1, 183, 238);
$color-sky-light: rgb(121, 224, 255);
$color-orange: rgb(255, 144, 40);
$color-yellow: rgb(250, 204, 51);

$width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
